<div class="jumbotron mt-4">
  <h1 class="display-4">Control de actividades laborales!</h1>
  <p class="lead">Tus empleados seran notificados 12 horas antes de la actividad laboral</p>
  <hr class="my-4">
  <p>Tus funciones en la mejor Agenda !!!!...
  </p>
  <a class="btn btn-primary btn-lg" href="https://myaccount.google.com/?utm_source=OGB&tab=mk&utm_medium=act&gar=1" role="button">Sigueme...</a>
</div> 
